a:link, a:visited, a:hover, a:active {
    color: cyan;
}

html {
    background-color: black;
    font-family: monospace;

}

#text {
    display: none;
}
nav {

    font-size: x-large;
    color: #18fc00;
    display: block;
    word-wrap: normal;

}

}

nav:li {
    display: inline;
}


